<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <% if (userLogged && listado.length == 0) { %>
        <h2>Tu carrito está vacio</h2>
        <div class="register-buttons">
            <a href="../products"> <button class="cart-button">Ver productos</button></a>
        </div>
        <div class="center">
            <img src="../images/kicks-bn.png" alt="Logo Kicks" class="logo-bn">
        </div>

        <br>

        <%}else if(userLogged){   %>
        <% let totalPrice = 0 %>
        <div class="encabezado-carrito">
            <h3> MI CARRITO</h3>
            <a href="/products">ELEGIR MÁS PRODUCTOS</a>
        </div>
        <section class="elementos-carrito">
            <div class="titulos">
                <div class="titulo-producto-carrito">PRODUCTOS</div>
                <div>PRECIOS</div>
                <div>CANTIDAD</div>
                <div>SUBTOTAL</div>
            </div>

            <% for( let i = 0; i < listado.length; i++ ) { 
                let subtotalPrice = listado[i].price * listado[i].amount
                %>
            <%if (listado[i].user_id == userLogged.id) {
                totalPrice += subtotalPrice %>

            <article class="producto">
                <img src="/images/products/<%= listado[i].products.image %>" alt="" class="miniatura">
                <div class="modelo"> <%= listado[i].products.name %> / Talle <%= listado[i].size %> </div>
                <div class="precio-carrito"> $<%= toThousand(listado[i].price) %> </div>
                <div class="form-cantidad"><%= listado[i].amount %> </div>
                <div class="precio-carrito">TOTAL <%= toThousand(subtotalPrice)  %> </div>
                <div class="eliminar">
                    <a href="/products/productCart/delete/<%=listado[i].id%>"><i
                            class="far fa-times-circle boton-eliminar"></i></a>
                </div>
            </article>

            <% } %>

            <% } %>
            <article class="finalizar-compra">
                <div class="finalizar-form">
                    <label for="TOTAL">TOTAL $<%= toThousand(totalPrice) %></label>
                    <a href="/products/productCart/checkout"><button type="text" class="boton-compra">FINALIZAR
                            COMPRA</button></a>
                </div>
            </article>

            <article class="medios">
                <div class="envios"><i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAIS!</div>

                <div class="medios-pago">
                    <div class="titulo-medios">MEDIOS DE PAGO</div>
                    <img src="/images/medios-pago-varios.png" alt="pagoelectronico" class="imagen-pago">
                    <img src="/images/medios-pago-efectivo.jpg" alt="pagoefectivo" class="imagen-pago2">
                </div>
            </article>
        </section>

        <div class="title">
            <h2 class="linea"><span>DESTACADOS</span></h2>
        </div>
        <section class="recomendados">

            <% for( let i = 0; i < products.length; i++ ) { %>

            <%if (products[i].category_id == 4) { 
        let finalPrice = products[i].discount ? (products[i].price - products[i].price * products[i].discount / 100 ).toFixed(0)  : products[i].price;
%>
            <article class="recomendado-article a1">
                <a href="/products/<%= products[i].id %> "><img src="/images/products/<%= products[i].image %>"
                        alt=<%= products[i].name %>></a>
                <div class="contenedor-descripcion">
                    <div><%= products[i].name %></div>
                    <% if (products[i].discount) { %>
                    <span class="small">$<%= toThousand(products[i].price) %></span> $<%= toThousand(finalPrice)  %>
                    <p class="descuento">
                        <%- products[i].discount ? `<span>${products[i].discount}% OFF</span>` : '' %>
                    </p>
                    <% } else { %>
                    <div class="precio-carrito">$ <%= toThousand(products[i].price) %></div>
                    <% } %>
                </div>
            </article>

            <% } %>

            <% } %>


        </section>

        <div class="newsletter">

            <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
            <div class="control-formulario">
                <input type="email" name="email" id="emailSuscripcion" placeholder="Ingresá tu email" class="control"
                    required>
                <button type="button" class="boton-suscribe" id="botonSuscribe">SUSCRIBIRME</button>
            </div>

            <div class="modal-container" id="suscripcion">
                <h3>¡Gracias por suscribirte a nuestro Newsletter <span id="suscriptor"></span>!</h3>
                <button type="button" class="button-edit" id="cerrarSuscripcion">Cerrar</button>
            </div>
            <div class="modal-container" id="ingresaEmail">
                <h3>Ingresá un Email para Suscribirte</h3>
                <button type="button" class="button-edit" id="cerrarEmail">Cerrar</button>
            </div>
        </div>


        <% } %>




    </main>
    <%- include("../partials/footer")%>


</body>

</html>