<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main class="auto">
        <h2 class="title">EDITANDO: <%= producto.name %> </h2>
        <form action="/products/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
            class="form">
            <div class="control-formulario1">
                <label for="name">Nombre del producto:</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" class="control1
                    <%= locals.errors && errors.name ? "is-invalid":null  %>" value="<%=producto.name%>">
                <% if (locals.errors && errors.name) { %>
                <p class="alert2"><%=errors.name.msg%></p>
                <% } %>
                <div id="nameError" class="alert"></div>
            </div>
            <div class="control-formulario1">
                <label for="description">Detalle del producto:</label>
                <input type="textarea" name="description" id="description" value="<%=producto.description%>"
                    placeholder="Detalle del producto"
                    class="control1 <%= locals.errors && errors.description? "is-invalid":null  %>" />
                <% if (locals.errors && errors.description) { %>
                <p class="alert2"><%=errors.description.msg%></p>
                <% } %>
                <div id="descriptionError" class="alert"></div>
            </div>
            <div class="control-formulario1">
                <label for="imagen">Imagen del producto:</label>
                <input type="file" name="image" id="image" />
                <% if (locals.errors && errors.image) { %>
                <p class="alert2"><%=errors.image.msg%></p>
                <% } %>
                <div id="imageError" class="alert"></div>
            </div>
            <div>
                <label for="genre" class="negrita">Genero</label>
                <br>
                <% genres.forEach(genre => { %>
                <input type="radio" name="genre" id="genre" value="<%= genre.id %>"
                    <%= genre.id === producto.genre_id ? "checked":null %>><%= genre.name %>
                <% }) %>
                <% if (locals.errors && errors.genre) { %>
                <p class="alert2"><%=errors.genre.msg%></p>
                <% } %>
                <div id="genreError" class="alert"></div>
            </div>

            <div class="control-formulario1">
                <label for="brand">Marca</label>
                <select name="brand" id="brand" class="<%= locals.errors && errors.brand? "is-invalid":null  %>">
                    <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>" <%= brand.id==producto.brands_id ? "selected" : null%>>
                        <%= brand.name %> </option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.brand) { %>
                <p class="alert2"><%=errors.brand.msg%></p>
                <% } %>
                <div id="brandError" class="alert"></div>
            </div>

            <div>
                <label for="size" class="negrita">Talles:</label>
                <br>
                <input type="checkbox" name="size" id="size" value="37"
                    <%= producto.size.includes("37") ? "checked": " " %> />37
                <input type="checkbox" name="size" id="size" value="38"
                    <%= producto.size.includes ("38") ? "checked":" " %> />38
                <input type="checkbox" name="size" id="size" value="39"
                    <%= producto.size.includes ("39") ? "checked":" " %> />39
                <input type="checkbox" name="size" id="size" value="40"
                    <%= producto.size.includes ("40") ? "checked":" " %> />40
                <input type="checkbox" name="size" id="size" value="41"
                    <%= producto.size.includes("41") ? "checked":" " %> />41
                <input type="checkbox" name="size" id="size" value="42"
                    <%= producto.size.includes("42") ? "checked":" " %> />42
                <input type="checkbox" name="size" id="size" value="43"
                    <%= producto.size.includes("43") ? "checked":" " %> />43
                <input type="checkbox" name="size" id="size" value="44"
                    <%= producto.size.includes("44") ? "checked":" " %> />44
                <input type="checkbox" name="size" id="size" value="45"
                    <%= producto.size.includes("45") ? "checked":" " %> />45
                <input type="checkbox" name="size" id="size" value="46"
                    <%= producto.size.includes("46") ? "checked":" " %> />46

                <% if (locals.errors && errors.size) { %>
                <p class="alert2"><%=errors.size.msg%></p>
                <% } %>
                <div id="sizeError" class="alert"></div>
            </div>

            <div class="control-formulario1">
                <label for="colors" class="form-label">Color del producto:</label>
                <select name="colors" id="colors"
                    class="form-input <%= locals.errors && errors.colors? "is-invalid":null  %>">
                    <% colors.forEach(color => { %>
                    <option value="<%= color.id %>" <%= color.id==producto.colors_id ? "selected" : null%>>
                        <%= color.name %> </option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.colors) { %>
                <p class="alert2"><%=errors.colors.msg%></p>
                <% } %>
                <div id="colorsError" class="alert"></div>
            </div>

            <div class="control-formulario1">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category"
                    class="form-input <%= locals.errors && errors.category? "is-invalid":null  %>">
                    <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= category.id==producto.category_id ? "selected" : null%>>
                        <%= category.name %> </option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
                <p class="alert2"><%=errors.category.msg%></p>
                <% } %>
                <div id="categoryError" class="alert"></div>
            </div>

            <div class="control-formulario1">
                <label for="price">Precio:</label>
                <input type="number" name="price" value="<%=producto.price%>" id="price" placeholder="$9999"
                    class="control1 <%= locals.errors && errors.price? "is-invalid":null  %>" />

                <% if (locals.errors && errors.price) { %>
                <p class="alert2"><%=errors.price.msg%></p>
                <% } %>
                <div id="priceError" class="alert"></div>
            </div>

            <div class="control-formulario1">
                <label for="discount">Descuento:</label>
                <input type="number" name="discount" value="<%=producto.discount%>" id="discount" placeholder="15"
                    class="control1 <%= locals.errors && errors.discount? "is-invalid":null  %>" />
                <% if (locals.errors && errors.discount) { %>
                <p class="alert2"><%=errors.discount.msg%></p>
                <% } %>
                <div id="discountError" class="alert"></div>
            </div>

            <br />

            <div class="register-buttons">
                <button type="submit" value="Confirmar" class="confirm-button">Confirmar</button>
                <button type="reset" value="Borrar" class="delete-button">Borrar</button>
            </div>
            <br />
        </form>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/validationsProducts.js"></script>
</body>

</html>