<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>
    <main>
        <div class="encabezado-carrito">
            <h3>RESULTADOS DE TU BUSQUEDA: <%= search %> </h3>
        </div>
        <section class="elementos-carrito">
            <% if(products.length==0){ %>
            <h2 class="margin-search">No encontramos resultados para tu busqueda <i class="fas fa-search"></i></h2>
            <br>
            <% }else { %>
            <% for( producto of products ) { %>
            <article class="producto">
                <a class="miniatura" href=<%="/products/"+producto.id %>><img
                        src=<%="/images/products/"+producto.image %> alt=<%= producto.name %> class="miniaturaB"></a>
                <div class="modelo"><%= producto.name %></div>
                <div class="precio-carrito">$<%= toThousand(producto.price) %></div>
            </article>
            <% } %>
            <% } %>
            <%- include("./partials/footer")%>
</body>

</html>