<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <div class="title">
            <h2 class="linea"><span>PERFIL DE USUARIO</span></h2>
        </div>

        <div class="login-bar auto">
            <div class="profile-container">
                <div>
                    <h3>¡Hola <%= user.firstName +" "+user.lastName %>! </h3>
                    <h4><%= user.email%> </h4>
                    <img src="/images/users/<%=user.image%>" alt="<%=user.firstName%> " class="imagen-perfil">
                </div>
                <div>
                    <a href="/users/logout"><button type="button" class="boton-login">CERRAR SESION</button></a>
                </div>

                <a href="/users/edit"><button type="button" class="button-edit">EDITAR</button></a>

                <form action="/users/delete/<%=user.id %>?_method=DELETE" method="POST" style="display: inline-flex"
                    id="eliminarUsuario">
                    <button type="submit" class="button-edit button-delete">ELIMINAR</button>
                </form>
                <div class="modal-container" id="modalEliminarUsuario">
                    <h3>¿Deseas eliminar tu cuenta?</h3>
                    <button type="submit" class="button-edit botonEliminarUsuario">Si</button>
                    <button type="button" class="button-edit botonDenegarUsuario">No</button>
                </div>

            </div>
        </div>

    </main>

    <%- include("../partials/footer")%>

</body>

</html>